body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the full height of the page is used */
}

.randomRecipe {
  background-color: green;
  display: flex;
  align-items: flex-start; /* Align items to the start of the container */
  justify-content: center;
  width: 50vw;
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
  padding: 15px;
  border-radius: 15px;
  color: coral;
  font-size: 30px;
  margin: 20px; /* Adds some space around the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.summary {
  font-size: 20px;
}