:root {
background-color: wheat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightcoral;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarTitle {
    font-size: 40px;
    color: green;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.navbarButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.navbarButton:hover {
    background-color: #45a049;
}

.date {
    color: black;
    margin-bottom: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-top: 200px;
}

.meal {
    font-size: 49px;
}

.weekButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.weekDisplay {
    font-size: 30px;
    color: black;
}

.createPlanButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 30px;
}

.errorMessage {
    font-size: 30px;
    color: black;
}

/* Add these styles to your existing CSS file */

.mealPlan {
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .mealPlan:hover {
    border-color: #45a049;
  }
  
  .daysContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dayBox {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .dayBox:hover {
    border-color: #45a049;
  }
  
  .mealsContainer {
    margin-top: 10px;
  }
  
  /* You can customize the styles further based on your design preferences */
  