:root {
background-color: wheat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightcoral;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarTitle {
    font-size: 40px;
    color: green;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.navbarButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

.navbarButton:hover {
    background-color: #45a049;
}

.date {
    color: black;
    margin-bottom: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-top: 200px;
}

.meal {
    font-size: 49px;
}

.weekButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.weekDisplay {
    font-size: 30px;
    color: black;
}

.createPlanButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 30px;
}

.errorMessage {
    font-size: 30px;
    color: black;
}

.mealPlan {
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    color: green;
    background-color: lightcoral;
}

.daysContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dayBox {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    text-align: left;
    margin-left: 20px;
    width: 200px;
}

.dayBox:hover {
    border-color: #45a049; 
}

.dayOfWeek {
    text-align: center;
}

.modalPlease {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 997; /* Ensure the modal appears on top of other elements */
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Add blur effect to the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998; /* Ensure the overlay is behind the modal but above other elements */
}

.modal {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 500px;
    height: 500px;
    color: black;
    font-size: 20px;
}

.modalTitle {
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0; 
    margin-top: 10px;
}

.modalButton {
    background-color: green;
}

.modalFindRecipe {
    z-index: 999;;
    background-color: green;
    width: 250px;
}


    